<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.UserBehaviorMapper">
    <select id="getByUserId" resultType="com.example.entity.UserBehavior">
        SELECT * FROM user_behavior WHERE user_id = #{userId}
    </select>

    <select id="getAllBehaviors" resultType="com.example.entity.UserBehavior">
        SELECT * FROM user_behavior
    </select>

    <insert id="insert">
        INSERT INTO user_behavior(user_id, blog_id, behavior_type, weight)
        VALUES (#{userId}, #{blogId}, #{behaviorType}, #{weight})
    </insert>
</mapper>
